body {
  margin: 0;
}

body,
button {
  color: #4a4a4a;
  font-family: Futura, Verdana, sans-serif;
}

.site__sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  background: #eee;
  overflow: scroll;
}

.site__main {
  padding-left: calc(300px + 1em);
}

.beatkeeper__section-header {
  padding: 0 0.5em;
}
