doctype html
html(lang="en")
  head
    title Beatkeeper
    link(type="text/css" href="css/main.css")
    link(rel="stylesheet" media="screen" href="src/css/main.css")
  body
    .site__sidebar
      .beatkeeper__loops
        h2 Step 1: Select a beat
    .site__main
      .beatkeeper__playback-animation
        img.beatkeeper__playback-hh(src="src/images/high_hat.svg")
        img.beatkeeper__playback-snare(src="src/images/snare_drum.svg")
        img.beatkeeper__playback-bass(src="src/images/bass_drum.svg")
      h2 Step 2: Recreate the beat
      svg.beatkeeper__notation
        g.beatkeeper__notation-container
          pattern#hh-thumbnail(x="0" y="0" height="30" width="30")
            image(x="0" y="0" width="30" height="30" xlink:href="src/images/high_hat_thumbnail.png")
          pattern#snare-thumbnail(x="0" y="0" height="30" width="30")
            image(x="0" y="0" width="30" height="30" xlink:href="src/images/snare_drum_thumbnail.png")
          pattern#kick-thumbnail(x="0" y="0" height="30" width="30")
            image(x="0" y="0" width="30" height="30" xlink:href="src/images/bass_drum_thumbnail.png")

          g.beatkeeper__instruments
            g.beatkeeper__instrument(transform="translate(0,40)")
            g.beatkeeper__instrument(transform="translate(0,80)")
            g.beatkeeper__instrument(transform="translate(0,120)")
          g.beatkeeper__subdivisions
          g.beatkeeper__notes
          g.beatkeeper__playback

      .beatkeeper__actions
        button.beatkeeper__button.beatkeeper__preview-submission Listen
        button.beatkeeper__button.beatkeeper__submit Submit
        button.beatkeeper__button.beatkeeper__try-again Try again
        button.beatkeeper__button.beatkeeper__give-up Tell me the answer
    script(type="text/javascript" src="dist/bundle.js" charset="utf-8")
